.u-section-1 .u-sheet-1 {
  min-height: 353px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 244px;
  margin: 19px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 79px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 458px;
}

.u-section-3 .u-form-1 {
  height: 201px;
  margin: 129px 305px 129px 285px;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    width: 570px;
    margin-left: 185px;
    margin-right: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-left: 75px;
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 0;
    margin-bottom: 46px;
    height: 263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}